
.vscode/launch.json
.vscode/tasks.json
*.cache
*.pyc
*.zip
venv/
*.cache
csharp_dotnetcore/18.bot-authentication-github/obj/Debug/netcoreapp2.1/AuthBotGitHub.csprojAssemblyReference.cache
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/Server/sqlite3/storage.ide
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/.suo
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/.suo
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/Server/sqlite3/storage.ide
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/Server/sqlite3/storage.ide-shm
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/.suo
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/Server/sqlite3/storage.ide
*.ide-wal
*.user
csharp_dotnetcore/18.bot-authentication-github/bin/Debug/netcoreapp2.1/AuthBotGitHub.dll
*.pdb
*.pubxml
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/.suo
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/.suo
*.ide
*.user
*.pdb
*.cache
*.dll
*.pdb
*.cache
csharp_dotnetcore/18.bot-authentication-github/.vs/AuthBotGitHub/v16/.suo
